<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assembler - Plateforme Marketing</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="home.css">
    <style>
        body {
            background-image: none !important;
        }
    </style>
</head>

<body class="min-h-screen">
    <div class="flex h-screen overflow-hidden">
        <main class="flex-1 overflow-y-auto p-6">
            <div class="glass col-span-2 rounded-xl p-5">
                <!-- Header -->
                <header class="flex justify-between items-center mb-4">
                    <h3 class="font-semibold text-lg">Recent Projects</h3>
                    <div class="flex space-x-3">
                        <div id="addProjects" class="glass-light px-3 py-1 rounded-full text-sm cursor-pointer"
                            onclick="document.location.href = `create.html?projectID=${new URLSearchParams(window.location.search).get('projectID')}`">
                            <i class="fas fa-plus mr-1"></i>
                            <span>Add</span>
                        </div>
                        <div class="glass-light px-3 py-1 rounded-full text-sm cursor-pointer">
                            <i class="fas fa-filter mr-1"></i>
                            <span>Filtred by date</span>
                        </div>
                    </div>
                </header>

                <!-- Projects List -->
                <div id="projects" class="space-y-3 flex flex-row flex-wrap gap-2 items-center"></div>
            </div>
                
            </article>

            <!-- loader -->
            <div id="loader" class="banter-loader">
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
            </div>
        </main>
    </div>

    <div id="popup"
        class="hidden fixed top-0 left-0 w-full h-screen bg-gray-900/50 backdrop-blur-sm z-50 flex justify-center items-center"
        onclick="closePopup()">
        <iframe src="" frameborder="0" class="w-[80%] h-[90%] border-white/10 rounded-3xl"></iframe>
    </div>

    <script>
        let session = null
        fetch('../../lib/session.php').then(res => res.json()).then(data => {
            if (data.status === 'success') {
                session = data.user
                fetchProjects()
            }
            else window.parent.location.href = '../auth/'
        }).catch(err => console.log("Not Connected"))

        const projectsContainer = document.querySelector('#projects');

        function fetchProjects() {
            fetch('../../controllers/getProjects.php', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userID: parseInt(session.id) })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(":::::::::::::")
                    console.log(data.projects)
                    if (data.status == 'success') {
                        if (data.projects.length > 0) {
                            document.getElementById("loader").classList.add("hidden")
                            data.projects.forEach((proj) => {
                                projectsContainer.innerHTML += `
                                    <div class="glass-light bg-black w-full p-6 rounded-2xl cursor-pointer transition-all duration-300 shadow-lg hover:shadow-2xl relative overflow-hidden border border-white/10" onclick="location.href = 'dashboard.html?projectID=${proj.id}'">
                                        <div class="flex justify-between items-center mb-4">
                                            <div>
                                                <h4 class="text-2xl font-bold text-white tracking-wide">${proj.name}</h4>
                                                <p class="text-md text-white/60 italic">${proj.slogan}</p>
                                            </div>
                                            <div class="text-sm bg-gray-900 text-yellow-400 px-3 py-1 rounded-lg shadow-sm uppercase tracking-wider">
                                                ${proj.type}
                                            </div>
                                        </div>

                                        <div class="flex justify-between items-center mt-6 gap-4">
                                            <div class="flex flex-wrap items-center text-sm text-white/80 space-x-3">
                                                <div class="flex items-center space-x-2">
                                                    <i class="fa-solid fa-hashtag text-yellow-400"></i>
                                                    <span class="font-medium">Code:</span>
                                                    <span class="text-yellow-300 font-mono">${proj.code}</span>
                                                </div>
                                                <span class="mx-2">•</span>

                                                <div class="flex items-center space-x-2">
                                                    <i class="fa-solid fa-calendar text-red-400"></i>
                                                    <span class="font-medium">Deadline:</span>
                                                    <span class="text-red-300">${proj.deadline}</span>
                                                </div>
                                                <span class="mx-2">•</span>

                                                <div class="flex items-center space-x-2">
                                                    <i class="fa-solid fa-users text-green-400"></i>
                                                    <span class="font-medium">Max Membres:</span>
                                                    <span class="text-green-300">${proj.maxMembers}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `
                            })
                        }
                        else {
                            document.querySelector("main").innerHTML = `
                            <div class='w-full h-full flex flex-col justify-center items-center'>
                                <h1 class='text-white font-semibold'>You don't have any projects yet</h1>
                                <p id='noProjects' class='underline text-white cursor-pointer'>Create one now !</p>
                            </div>
                  `
                        }
                    } else {
                        console.error("Error message:", data.message);
                    }
                })
                .catch(error => {
                    console.error('Catch Error:', error);
                })
        }

        function generateAvatar(firstname) {
            if (!firstname) return ''
            let avatar = ''
            const colors = ['bg-indigo-500', 'bg-purple-500', 'bg-pink-500', 'bg-blue-500', 'bg-green-500'];

            const initials = firstname.substring(0, 2).split("").map(n => n[0]).join('').toUpperCase();
            const colorClass = colors[Math.floor(Math.random() * (5 - 0) + 0)];
            avatar += `<div class="w-7 h-7 rounded-full ${colorClass} flex items-center justify-center text-xs font-bold " title="${firstname}">${initials}</div>`

            return avatar;
        }

    </script>
</body>

</html>